{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb border-bottom">Contact Us</h1>

    <div class="row text-white mb-5">
        <p class=" mx-auto mb-5">
            Do have Any question? Please do not hesitate to conatact us.
            we will response you in few hour
        </p>
        <div class="col-sm-9 mb-5">
            <form action="">
                <div class="form-row"> 
                    <div class="form-group col-md-6">
                        <label for="inputName">Your Name</label>
                        <input type="text" class="form-control"
                        id="inputName"/>
                        
                    </div>

                    <div class="form-group col-md-6">
                        <label for="inputEmail">Your Email *</label>
                        <input type="email" class="form-control"
                         id="inputEmail" required />

                    </div>
                </div>
                <div class="form-group">
                    <label for="inutSubject">Your Subjects</label>
                    <input type="text" class="form-control"
                    id="inputSubject" />
    
                </div>
                <div class="mb-3">
                    <label for="inputTextarea">Your message *</label>
                    <textarea class="form-control" id="inputTextarea"
                    required></textarea>
                </div>

                <button class="btn btn-primary" type="submit">Send</button>
            </form>
        
        </div>
            <div class="col-sm text-center">
                <ul class="list-unstyled">
                    <li>
                        <i class="fas-map-maker-alt fa-2x i-color"></i>
                        <p>Lucknow,Uttar Pradesh</p>
                    </li>
                    <li>
                        <i class="fas fa-phone mt-4 fa-2x i-color"></i>
                        <p>+91 9616177700</p>

                    </li>
                    <li>
                        <i class="fas fa-envelope mt-4 fa-2x i-color"></i>
                        <p>ashutoshmishra25798@gmail.com</p>
                    </li>
                </ul>
            </div>
    </div>
</div>
<div class="text-center">
    <a href="#" target="_blank"><i class="fab fa-twitter i-color
       mr-3"></i></a>
</div>

{% endblock content %}